<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <link rel="stylesheet" type="text/css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <form th:action="@{/logout}" method="post">
            <div class="col-sm-2" style="padding-top: 30px;">
                     <span sec:authorize="isAuthenticated()">
                    <input type="submit" value="Sign Out"/>
                               </span>
            </div>
        </form>

        <div class="welcome">
            <span sec:authorize="isAuthenticated()">Welcome <span sec:authentication="username"></span></span>
        </div>
    </div>
</div>

</body>
</html>